{% for item in items %}
  <a href="{{ url('entity.taxonomy_term.canonical', {'taxonomy_term': item.content['#taxonomy_term'].id()}) }}">
    {% if item.content['#taxonomy_term'].field_icon.value %}
      <i class="{{ item.content['#taxonomy_term'].field_icon.value }}"></i>
    {% endif %}
    {{ item.content['#taxonomy_term'].label() }}</a>{% if not loop.last %}, {% endif %}
{% endfor %}
