body
  //background-color: green

.ds-3col-stacked
  .views-element-container &
    padding: 15px 0
    border-bottom: 1px solid #e5e5e5
    text-align: left

  .group-left, .group-middle, .group-right
    margin-bottom: 10px
    color: rgba(#333, .5)
    a
      color: rgba(#078D92, .7)

  .group-right
    text-align: right
