.post
  .views-element-container &
    border-bottom: 1px solid #e5e5e5
    text-align: left
    padding: 15px 0
    &:first-child
      padding-top: 0

  .time, .tags, .source
    color: rgba(#333, .5)
    a
      color: rgba(#078D92, .7)

.social-media.share
  float: right
  margin: 0

  a
    width: 24px
    height: 24px
    border-radius: 12px
    line-height: 170%
    margin: 0 0 0 6px

.social-media p
  float: left
  margin-top: 3px
  margin-right: 10px

.label
  text-transform: uppercase
  color: #333
  font-size: 80%

.field
  margin-bottom: 20px

body
  display: flex
  flex-direction: column
  min-height: 100vh

  #wrapper
    flex-grow: 1

.main-header
  background: #078D92
